
@import "variable";

// 设置背景颜色
.bg-white{
    background-color: @bg-white !important;
}
.bg-blue {
  background-color: @bg-blue !important;
}
.bg-darkorange{
  background-color: @bg-darkorange !important;
}
.bg-warning{
  background-color: @color-warning !important;
}
.bg-palegreen{
  background-color: @color-palegreen !important;
}


// 为整个框架设置背景色
body:before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  background-color: @color-gray;
}



